div class="form-group"
  input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address"
form class='btn btn-info btn-block' action='/forgotpassword' method='post'
  button type="submit" Get my password
