a.btn {
    display: block;
    padding: 10px;
    background-color: hotpink;
    width: 50px;

}

#container {
    width: auto;
    height: 1000px;
    background-color: hotpink;
}

#nav-bar {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 40px;
    background-color: aqua;
}

.register-button {
    float: right;
    margin-right: 10px;
}

.login-form {
    float:right;
}

.login-password {
    padding-left: 4.6px;
}






